@use "../tools/screen";
.app{
  display: grid;
  width: 100vw;
  grid-template-rows: 10px min-content min-content min-content 10px;
  overflow-x: auto;

  grid-template-areas: 
    "header"
    "form"
    "info"
    "list"
    "footer";

  @include screen.larger-than(md){
    height: 100vh;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 10px 1fr 1fr 10px;
    grid-template-areas: 
      "header header"
      "form info"
      "form list"
      "footer footer";
    overflow-x: hidden;
  }
  @include screen.larger-than(lg){
    grid-template-columns: 360px 1fr 1fr;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas: 
      "header header header"
      "form info list"
      "footer footer footer";
    overflow-x: hidden;
  }
  &__header{
    grid-area: header;
  }
  &__form{
    grid-area: form;
  }
  &__info{
    grid-area: info;
  }
  &__powerlist{
    grid-area: list;
  }
  &__footer{
    grid-area: footer;
  }
}