@use '../abstracts/' as *;

.powerform{
  padding: space(4);
  &__dicecost{
    margin-top: -1 * space(4);
  }
  &__qualitylist{
    margin-top: space(2);
  }
  &__add{
    margin-top: space(2);
  }
}