@use "../abstracts/" as *;

.powerquality{
  display: flex;
  flex-direction: column;
  gap: space(2);
  margin-bottom: space(4);

  &__row{
    display: flex;
    gap: space(2);
  }
  &__name{
    cursor: help;
    margin: 0;
    width: auto;
  }
}