@use '../../style/abstracts/' as *;

.powerform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content) minmax(10px, 1fr) repeat(2, min-content);
  max-height: 100%;
}
.dicecost {
  margin-top: -1 * space(4);
}
.qualitylist {
  margin-top: space(2);
  overflow-x: hidden;
  overflow-y: auto;
}
.add {
  margin-top: space(2);
}
.btnfooter {
  margin-top: space(4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit {
  position: absolute;
  top: space(1);
  right: space(1);
}
