@use '../abstracts/' as *;

.top{
  &--0{
    top: 0;
  }
}

.right{
  &--0{
    right: 0;
  }
  &--4{
    right: 1rem;
  }
  &--5{
    right: 1.25rem;
  }
  &--6{
    right: 1.5rem;
  }
  &--8{
    right: 2rem;
  }
}

.spaceabove{
  &--1{
    margin-top: space(1);
  }
  &--2{
    margin-top: space(2);
  }
}
.gap{
  &--1{
    gap: space(1);
  }
  &--2{
    gap: space(2);
  }
}