@use '../../style/abstracts/' as *;
@use '../../style/tools/screen';

.editor {
  display: grid;
  gap: space(2);
  max-height: calc(95vh - 120px);
  width: 90vw;
  padding: space(3);
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  overflow-y: auto;
  overflow-x: hidden;

  @include screen.larger-than(md) {
    grid-template-columns: 255px minmax(400px, 1fr);
    grid-template-rows: 2fr 1fr;
    overflow-y: hidden;
  }
  @include screen.larger-than(lg) {
    grid-template-columns: 255px 500px 1fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;
  }
}
.creation {
  overflow-y: hidden;
  overflow-x: hidden;
  grid-row: 1 / span 1;
  @include screen.larger-than(md) {
    overflow-y: auto;
    grid-row: 1 / span 2;
  }
  input[type='text'],
  input[type='number'] {
    width: 185px;
  }
}

.description {
  height: 100%;
  @include screen.larger-than(md) {
    overflow-y: auto;
    grid-row-start: 2;
    grid-column-start: 2;
  }
  @include screen.larger-than(lg) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
}

.pair {
  display: grid;
  gap: space(2);
  grid-template-columns: 1fr;
  @include screen.larger-than(sm) {
    grid-template-columns: 1fr 1fr;
  }
}
.scrollarea {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25rem;
}
.examples {
  display: grid;
  gap: space(2);
  grid-template-rows: 60px auto 20px;
  @include screen.larger-than(sm) {
    grid-template-rows: 30px auto 20px;
  }
  h3 {
    margin: 0;
    padding: 0;
    padding-top: space(3);
  }
  input[type='text'],
  input[type='number'] {
    width: 185px;
  }
  @include screen.larger-than(md) {
    max-height: 50vh;
  }
  @include screen.larger-than(lg) {
    max-height: calc(100vh - 200px);
  }
}

.extras {
  position: relative;
  &::before {
    content: 'Extras';
    position: sticky;
    top: 0;
    background-color: $neutral-200;
    font-size: $font-size-600;
    color: $color-text-heading;
    font-weight: $font-weight-heading;
    font-family: $font-family-heading;
    padding-bottom: space(1);
  }
}
.flaws {
  position: relative;
  &::before {
    content: 'Flaws';
    position: sticky;
    top: 0;
    background-color: $neutral-200;
    font-size: $font-size-600;
    color: $color-text-heading;
    font-weight: $font-weight-heading;
    font-family: $font-family-heading;
    padding-bottom: space(1);
  }
}
.modifier {
  display: flex;
  gap: 1;
  position: relative;
  padding-right: 25px;
  max-width: 300px;
}
