@use '../../style/abstracts/' as *;

.dice {
  display: flex;
  gap: space(2);
  margin-bottom: space(2);
  input {
    width: 100px;
    margin-right: space(2);
  }
}

.calculator {
  border-collapse: collapse;
}
